* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 60px;
    background-color: #e7e7e7;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

header img {
    height: 36px;
    margin-right: 16px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
    max-width: 760px;
}

form input {
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid black;
    padding: 8px;
    max-width: 300px;
}


form button {
    background-color: #009432;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

form button:hover {
    background-color: #04ce47;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid black;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

td#no-contacts {
    padding: 48px;
}

.hidden {
    display: none;
}

input.duped {
    color: red;
    border-bottom: 1px solid red;
}

/* Botão de excluir */
td>button {
    padding: 8px;
    border: none;
    background-color: red;
    cursor: pointer;
}

td>button:hover {
    background-color: rgb(252, 73, 73);
}
