* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 100px;
    background-color: #e7e7e7;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

header img {
    height: 36px;
    margin-right: 16px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid black;
    padding: 8px;
}

/* Necessário p/ ficar bonito no Firefox pois o segundo campo não se ajusta
automaticamente de acordo com o tamanho do placeholder que nem no motor Chromium
por algum motivo, em vez disso todos inputs assumem o mesmo tamanho e aí não
cabe tudo na form */
form input:nth-child(2) {
    max-width: 100px;
}

form button {
    background-color: #009432;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid black;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}

table td img {
    height: 30px;
}

.resultado {
    padding: 8px;
    font-weight: bold;
    color: #fff;
    background-color: black;
    border-radius: 3px;
}

.aprovado {
    background-color: #009432;
}

.reprovado {
    background-color: red;
}
